.canvasOwner {
  width: 100%;
  height: 100dvh;
  display: grid;
  place-items: center;
  background-color: #000;
  overflow: hidden;
  .canvas {
    filter: none;
  }
  &:where(:not(.loaded)) {
    .canvas {
      opacity: 0;
      filter: grayscale(1) brightness(0.2) blur(20px);
      pointer-events: none;
    }
  }
}
.canvas {
  aspect-ratio: 16 / 10; // 16:10
  height: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
  transition: filter 1s, opacity 2s;
  img {
    user-select: none;
  }
  &:has(.selectLaptop:hover, .selectLaptop:focus-visible) {
    .laptopLayer {
      opacity: 1;
    }
    .background {
      opacity: 0.98;
    }
  }
  &:has(.selectPhone:hover, .selectPhone:focus-visible) {
    .phoneLayer {
      opacity: 1;
    }
  }
}
.backgroundColor {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.laptopLayer {
  opacity: 0;
  transition: all 0.3s;
}
.phoneLayer {
  opacity: 0;
  transition: all 0.3s;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-duration: 0.7s;
}
.layer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.selectPhone {
  position: absolute;
  width: 10%;
  height: 11%;
  position: absolute;
  top: 83%;
  left: 67%;
  cursor: pointer;
}
.selectLaptop {
  width: 26%;
  height: 25%;
  position: absolute;
  top: 62%;
  left: 48%;
  cursor: pointer;
}
.arrow {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
